<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
    <h1>书籍英雄</h1>

    {% if book %}
        {{ book.title }}
        <ul>
            {% for hero in book.heroinfo_set.all %}
                <li>{{ hero.heroname }} <a href="{% url 'booktest:deldetil' hero.id %}">删除</a>
                    <a href="{% url 'booktest:setdetil' hero.id %}">修改</a>


                </li>
            {% empty %}
                英雄为空
            {% endfor %}
        </ul>
    {% else %}
        没有英雄
    {% endif %}
    <br>
    <a href="{% url 'booktest:adddetil' book.id %}">添加一个角色</a>
    <br>
    <a href="{% url 'booktest:list' %}">返回列表</a>
    <br>
    <a href="{% url 'booktest:index' %}">返回首页</a>

</body>
</html>