<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
    <h1>列表页</h1>


    {% if books %}
        {% for book in books %}
        <li><a href="{% url 'booktest:detil' book.id %}">{{ book.title }}</a> <a href="{% url 'booktest:delbook' book.id %}">删除</a>
            <a href="{% url 'booktest:setbook' book.id %}">修改</a>

        </li>
        {% empty %}
            没有书籍信息
        {% endfor %}
    {% else %}
        没有书
    {% endif %}

    <br>
    <a href="{% url 'booktest:addbook' %}">添加一本书</a>
    <a href="{% url 'booktest:index' %}">返回首页</a>
</body>
</html>







